.footer-distributed{
    overflow: hidden;
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    font-family: 'PT Sans', sans-serif;

	padding: 55px 10px 50px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.heit_logo_footer{
	height: 100px;
}
.footer-distributed .footer-left{
    color: #a1fbfc;
	width: 23%;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;

}

.footer-distributed .footer-left img{
    float: left;
    margin-right: 10px;
}
.footer-distributed .footer-left span{
    display: block;
    margin-top: 18px;
}
#at-your-side{
	margin-top: 0;
	font-size: 15px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 50%;
    text-align: center;
    font-size: 18px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center a{
	color: #fff;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 26%;
}

.footer-distributed .footer-icons{
	text-align: center;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color:  #368b84;
	border-radius: 2px;

	font-size: 25px;
	color: #000000;
	text-align: center;
	line-height: 45px;

    margin: 0 auto;
}
.footer-distributed .footer-right p{
	text-align: center;
	padding-left: 0;
	font-size: 14px;
}
.footer-distributed .footer-right a:hover{
	color: white;
}
.reestr{
	margin-top: 14px;
}
.reestr span{
	font-size: 12px;
	color: white;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1007px) {

	.footer-distributed{
		font: normal 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

	.footer-distributed .footer-left img{
    margin: 0 auto;
	float: none;
		margin-left: -135px;
}
	.footer-distributed .footer-left img, .footer-distributed .footer-left span{
		display: inline-block;
	}
	.footer-distributed .footer-left span{
		position: absolute;
		margin-top: 17px;
		margin-left: 10px;
	}
	#at-your-side{
	margin-top: 58px;
}

	.footer-distributed {
		padding: 0;
	}
	.footer-distributed .footer-center p span{
		display: block;
	}
	.footer-distributed .footer-center .footer_p{
		padding-left: 0;
	}
	.footer-distributed .footer-right{
		margin-bottom: 4%;
	}
	.footer-distributed .footer-left {
		margin-top: 4%;
	}
  .footer-right .footer-icons{
	margin-top: 25px;
  }
  .footer-contact-metro {
    width: 360px;
  }
}
