/* --------------------------------
Primary style
-------------------------------- */
html {
}
body {
    font-family: 'PT Sans', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}
/* --------------------------------
Main Components
-------------------------------- */
header {
    position: relative;
    z-index: 12;
}
/* --------------------------
навигационное меню
-----------------------------*/
*, *:before, *:after {-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;z-index: 1}
#header{background:#000;line-height:1.5;font-family:sans-serif;text-transform:uppercase;font-size:16px;color:#fff}
a{text-decoration:none;color: #a1faf8;}
#header{background:#000;width:100%;position:relative; height: 50px;z-index: 2;}
#header:after{content:"";clear:both;display:block}
.logo{float:left;padding:8px 0 26px 20px;position: relative;z-index: 3;}
.logo a{font-size:28px;display:block}
nav{float:right;}
nav>ul{float:left;position:relative}
nav li{list-style:none;float:left}
nav .dropdown_nav{position:relative}
nav li a{float:left;padding:14px 35px 12px 35px}
nav li a:hover{background:#00403f}
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}
nav .dropdown_nav ul{position:absolute;left:0;top:100%;background:#000;padding:20px 0;border-bottom:3px solid #34495e}
nav .dropdown_nav li{white-space:nowrap}
nav .dropdown_nav li a{padding:10px 35px;font-size:13px;min-width:200px}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e}
nav li li a{float:none;color: #a1faf8;;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#00403f}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-26px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #fff;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;-webkit-transition:all .1s;transition:all .1s}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;z-index: 999;}
  #menu-icon{display:inline;top:50px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  nav{padding:10px; text-align: center; padding-top: 96px; background: black}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#a1faf8;padding:8px}
  #header nav a:hover{background:#00403f;color:#fff;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
}

/*------------------------------------------------
 ХЛЕБНЫЕ КРОШКИ
-------------------------------------------------*/
ol.breadcrumb{
	list-style: none;
	font-size: 15px;
	padding: 15px 0;
}
ol.breadcrumb li{
	display: inline-block;
}
ol.breadcrumb li a{
	color: #30706f;
}
ol.breadcrumb li a:hover{
	text-decoration: underline;
}
.bread{
    width: 100%;
            flex: 1 1 100%;
            align-items: flex-start;

}
/*------------------------------------------------
 header
-------------------------------------------------*/
.template_main {
   /* width: 100%; */
    background-color: #013f3e;
    background-image:linear-gradient(120deg,#1b8684,#1b8684 55%,transparent 55.1%,transparent),url("../img/fon.jpg");
    background-position:0 0, right top;
    background-size:700px 500px, auto 340px;
    background-repeat: no-repeat;
    height: 340px;
    /* border: 1px solid red; */
}

.template{
    background-color: #013f3e;
    background-image:linear-gradient(120deg,#1b8684,#1b8684 55%,transparent 55.1%,transparent),url("../img/fon.jpg");
    background-position:0 0, right top;
    background-size:700px 700px, auto 340px;
    background-repeat: no-repeat;
    height: 150px;
   /* border: 1px solid red;   */
}
.logo{
    position: absolute;
    top: 0;
    left: 15px;
}
.logo2{
    display: none;
}
/*------------------------------------------------
text in header
-------------------------------------------------*/
.name_company_high{
    position: absolute;
    top: 60px;
    left: 185px;
}
.name_company_high .company_text {
    font-size: 40px;
    line-height: 40px;
    color: #a1fafa;
    display: block;
}
.name_company_high .slogan {
    font-size: 30px;
    line-height: 30px;
    display: block;
    /* color: #a1fafa;*/
}
.div_rem_mob_teh{
    position: absolute;
    top: 180px;
    left: 4%;
}
.div_rem_mob_teh .text_rem_mob_teh{
    color: white;
    font-size: 25px;
}
.div_vremya_raboti{
    position: absolute;
    top: 215px;
    left: 105px;
}
.div_vremya_raboti span{
    font-size: 20px;
}
.div_vremya_raboti img, .div_number_telephone img{
    display: block;
    position: absolute;
    top: 5px;
    left: -45px;
}
.div_number_telephone{
    position: absolute;
    top: 300px;
    left: 105px;
}
.div_number_telephone span {
    font-size: 20px;
}
.div_telephone{
    position: absolute;
    top: 64px;
    right: 45px;
}
#under-head{
    width: 100%;
    height: 100px;
}
.home_article {
  width: 100%;
  margin: 1% 2% 2% 2%;
  padding-right: 10px;
}
.home_article p {
  padding-left: 20px;
}
.home_article ul, .home_article ol {
  padding-left: 40px;
}
.home_article h3, .home_article ul, .home_article ol, .home_article p {
  margin-bottom: 10px;
}
/*------------------------------------------------
Banner Auto repair
-------------------------------------------------*/
.banner_repair_auto {
	position: relative;
	height: 200px;
	width: 100%;
	background: linear-gradient(90deg, #1B8684, #032527);
}
.background_image_repair_auto {
	display: block;
	height: 200px;
	width: 60%;
	margin: 0 auto;
}
.text_repair_auto {
	position: absolute;
	top: 10px;
	left: 40px;
	line-height: 3.5;
}
.image_repair_auto {
	width: 490px;
	position: absolute;
	top: 0;
    bottom: 0;
    right: 2%;
    margin: auto;  
	filter: drop-shadow(14px 7px 7px #000);
    -webkit-filter: drop-shadow(14px 7px 7px #000);    
}
.h2_repair_auto {
	color: white;
	font-size: 25px;
	font-weight: 800;
	font-family: 'PT Sans', sans-serif;
}
.p_repair_auto {
	color: white;
	font-size: 25px;
	font-weight: 800;
	font-family: 'PT Sans', sans-serif;	
}
.button_repair_auto {
	position: absolute;
	top: 100px;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 10px 15px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 10px;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
	z-index: 1;
}
.button_repair_auto a {
	color: white;
}
.button_repair_auto:hover {
	background: linear-gradient(#FFB69F, #FF8D73 48%, #FF5C4C 52%, #FF6E5C);
	cursor: pointer;
}

/*------------------------------------------------
accordion
-------------------------------------------------*/
/* Style the tab */
div.tab {
    position: relative;
    margin: -90px 2% 0 2%;
    overflow: hidden;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 17px;
    color: #317e7a;
	border-radius: 15px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #317e7a;
    color: #a1faf8;
}
/* Create an active/current tablink class */
div.tab button.active {
    background-color: #00403f;
    color: #a1faf8;
}
/* Style the tab content */
.tabcontent {
    position: relative;
    /*top: -70px;*/
    display: none;
    padding: 10px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.accordion{
    width: 96%;
    position: relative;
    /*z-index: inherit;*/
    margin: 20px 2% 0 2%;
}
.mobile_firms_main_tabs{
    height: 60px;
    width: 135px;
    border: 1px solid #cecece;
    border-radius: 10px;
    background: #efefef;
    display: inline-block;
    float: left;
    margin: 0 0 15px 15px;
    position: relative;
    overflow: hidden;
}
.mobile_firms_main_tabs:hover{
	background: white;
}
.mobile_firms_select{
    position: relative;
    overflow: hidden;
}
.mobile_firms_main_tabs img, .mobile_firms_select img {
    position: absolute;
    top: 1px;
    left: 1px;
	right: 1px;
	height: 58px;
}
.mobile_firms_main_tabs .mobile-sprite {
	height: 60px;
}
#tabmob1,#tabpl1{
    left: 1px;
}
#tabmob2, #tabpl2{
    left: -142px;
}

#tabmob3{
    left: -282px;
}
#tabmob4{
    left: -418px;
}
#tabmob5{
    left: -559px;
}
#tabmob6{
    left: -697px;
}
#tabmob7{
    left: -836px;
}
#tabmob8{
    left: -975px;
}
#tabmob9{
    left: -1114px;
}
#tabmob10{
    left: -1253px;
}
#tabmob11{
    left: -1394px;
}
.text_after_model_firms{
    color: black;
    display: inline-block;
    margin: 0 2% 15px 2%;
    width: 96%;
}
/*-------------------------
select-menu
--------------------------*/
#hidden_div1{display:block;}
#hidden_div2{display:none;}
#hidden_div3{display:none;}
select {width: 145px;}
/*-------------------------
block-menu
--------------------------*/
.block_menu{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    text-align: center;
    /*border: 1px solid blue;*/
    width: 96%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.block1 {
    position: relative;
    border-top: 4px solid #368b84;
    height: 260px;
    width: 23%;
    background-color: #e5eaec;
    /* border: 1px solid orange; */
    display: inline-block;
   float: left;
    margin:1%;
    margin-top: 23px;
     min-width: 195px;

}
 .block1a{
     height: 28%;
  background-color: black;
}
.block1 figure
{
 /*  border: 1px solid red; */
    position: absolute;
    top: -25px;
    left: 0;
    height: 85px;
    width: 73px;
    overflow: hidden;
}
.block1 figure img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#img_block1{
left: 0;
}
#img_block2{
left: -73px;
}
#img_block3{
left: -146px;
}
#img_block4{
left: -219px;
}
.block1 p
{
    position: absolute;
    padding: 15px 0 0 90px;
    color: white;
}

/*-------------------------
images after block-menu
--------------------------*/
.figure_index{
    text-align: center;
	margin: 20px 0;
}
.figure_index img{
    width: 100%;
    max-width: 1200px;
}

/*-------------------------
article-menu
--------------------------*/
article{
    margin:2% 1% 4% 2% ;
    width: 64%;
    float: left;
}

aside{
    background: #e5eaec;
    width: 20%;
    border: 1px solid #bcbcbc;
    float: right;
    margin: 2% 2% 4% 1%;
/*     height: 190px; */
}
aside H2,H3, aside p{
    padding-left: 20px;
}
aside h2{
    padding-top: 15px;
}
     .aside_index{
        display: block;
        margin: 2% 2.9% 1% 1%;
        width: 29%;
    }
.aside_index ul{
	list-style: none;
	padding-left: 20px;
}
.aside_index  a{
	text-decoration-line: none;
	color: black;
	line-height: 2;
}
.aside_index a:hover{
	text-decoration-line:underline;
	color: #30706f;
}

.bankcards{
	display: block;
	height: 40px;
	//margin: 0 auto;
	margin-left: 20px;
	margin-top: 15px;
}
.sposob_oplaty_main ul li{
	list-style-type: none;
	padding-left: 22px;
}

sposob_oplaty_main p{
	padding-left: 20px;
}

/*-------------------------
our advantages
--------------------------*/
.row {
    margin-right: -15px;
    margin-left: -15px;
	text-align: center;
}

.block_advantages {
    position: relative;
    width: 23%;
    display: inline-block;
   float: left;
    margin:1%;
    margin-top: 23px;
     min-width: 195px;
}

.block_advantages img {
	width: 30%;
	text-align: center;
}


/*---------------------------------------------OTHER LINKS PAGE------------------------------------------------------------*/
/*-------------------------
column-page
--------------------------*/
.left-column{
    /* border: 1px solid red; */
    float: left;
     margin: 0 1% 0% 2% ;
    width: 74%;
   /* height: 100px; */
}
.right-column{
    /* border: 1px solid green; */
    float: right;
    width: 20%;
    min-width: 300px;
    margin: 4% 2% 0% 1%;
   /* height: 100px; */
}
.left-column, .right-column aside{
    display: inline-block;
}
.mobile_firms_select {
    height: 40px;
    width: 90px;
    border: 1px solid #cecece;
    border-radius: 10px;
    background: #efefef;
    display: inline-block;
    float: left;
    margin-left: 7px;
    margin-top: 12px;
}
.mobile_firms_select img{
    margin: auto;
    /*padding: 10% 0;*/
    display: block;
}
.status_zakaza {
    margin-top: 200px;
    position: relative;
    border-top: 4px solid #e63625;
    height: 360px;
    width: 100%;
    background-color: #e5eaec;
}
 .status_zakaza_verh{
    height: 28%;
    background-color: black;
}
.status_zakaza img
{
   /* border: 1px solid red; */
    position: absolute;
    top: -25px;
    left: 0;
}
.status_zakaza p
{
    position: absolute;
    padding: 15px 0 0 90px;
    color: white;
	font-size: 20px;
}

.status_zakaza .aktii_text,.aktii_text
{
    padding: 20px 20px 0 20px;
    color: #000;
}
.status_zakaza .aktii_text:last-of-type,.aktii_text:last-of-type
{
    padding-bottom:20px;
}
.opisanie-glav{
    padding-top: 15px;
}
/*------------------------------------------------------------
                            novosti
-------------------------------------------------------------*/
.block_news{
    display: inline-block;
    width: 29%;
    margin: 10px 1% 10px 1%;
    height: 350px;
    /* border: 1px solid green; */
    background-color: #ededed;
    overflow: hidden
}
.block_news p, .text_statya{
    color: black;
}

.block_news p:hover{
	text-decoration: underline;
}

.text_statya{
    display: block;
    -webkit-column-width: 190px;
            column-width: 190px;
    height: 150px;
}
.img_statyi{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.figure_statya .img_statyi_hight{
	max-width: 320px;
	text-align: center;
}

.figure_statya{
    text-align: center;
	margin: 20px 0;
	position: relative;
}

.youtube{
	padding-bottom: 56.25%;
}

.youtube iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.figure_statya img{
    width: 100%;
    max-width: 600px;
}
.zamena-video{
    max-width: 640px;
}
.figure_statya video{
    width: 100%;
}
.black_link{
    color: #000;
    text-decoration: underline;
}
figcaption{
    display: block;
    margin: 0 auto;
    width: 65%;
    text-align: center;
	font-style: italic;
	font-size: 85%;
	padding-top: 0.5rem;
}
.block_news p{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.block_news span{
    display: block;
    padding-left: 20px;
    font-size: 16px;
}
.span_statya{
    text-indent: 20px;
}
.spisok_statya{
    margin-left: 20px;
    list-style-position: inside;
    list-style-type: disc;
}
.left-column ul{
	margin:0 20px;
	text-indent: 20px;
}
.left-column ul li {
	list-style-type:none;
	margin-top: 5px;
}
.left-column ul .style_disc {
	list-style-type:disc;
	margin-top: 5px;
}
.marker_statya{
    list-style-type:disc;
    margin-left: 40px;
}
.statya_title{
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 10px;
}
.statya_subtitle{
    margin-left: 20px;
    margin-bottom: 5px;
}
.block10{
    visibility: hidden;
}
.block_news:hover{
    cursor: pointer;

/*    background-color: */
/* IE10+ */

/* Mozilla Firefox */

/* Opera */

/* Webkit (Safari/Chrome 10) */

/* Webkit (Chrome 11+) */

/* W3C Markup */
background-image: -webkit-gradient(linear, left top, left bottom, from(#BCE5E3), to(#EFEFEF));
background-image: linear-gradient(to bottom, #BCE5E3 0%, #EFEFEF 100%);
}
.block_news img{
    width: 100%;
}
.red_text{
	color: red;
}
/*------------------------------------------------------------
                            remonty
-------------------------------------------------------------*/
.status_zakaza_remonti {
    position: relative;
    border-top: 4px solid #e63625;
    height: 183px;
    width: 100%;
    background-color: #e5eaec;
}
.status_zakaza_verh{
    height: 38%;
    background-color: black;
}

.status_zakaza_remonti img
{
   /* border: 1px solid red; */
    position: absolute;
    top: -25px;
    left: 0;
}
.status_zakaza_remonti p
{
    position: absolute;
    padding: 15px 0 0 90px;
    color: white;
}
.status_zakaza_remonti .aktii_text,.aktii_text
{
    padding: 20px 20px 0 20px;
    color: #000;
}
.status_zakaza_remonti .aktii_text:last-of-type,.aktii_text:last-of-type
{
    padding-bottom:20px;
}
.article_remonti{
   width: 100%;
    margin: 0;
    padding-top: 20px;
}
.article_remonti p, .article_remont_telephone p, .about_repair_device p {
    padding-left: 0;
    text-indent: 20px;
}
.article_remonti ol,.article_remonti ul,.article_remont_telephone ol,.article_remont_telephone ul{
    list-style-position: inside;
    margin-left: 0;
}
.chast-remonti{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.article_remonti h2 {
  padding: 10px 0px;
}
.article_list {
list-style-type: disc !important;
}
/*------------------------------------------------------------
                         brends remont
-------------------------------------------------------------*/
.left-column .remont_modeli{
    display: block;
    margin-bottom: 10px;
}
.modeli_lineiky{
    padding-top: 20px;
    clear: both;
    text-align: center;
    display: block;
}
.mobile_box{
    border: 1px solid #bcbcbc;
    /* background: #efefef; */
    width: 23%;
    height: 190px;
    float: left;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
/*    min-width: 287px; */
/*    background-color: */
    /* IE10+ */

    /* Mozilla Firefox */

    /* Opera */

    /* Webkit (Safari/Chrome 10) */

    /* Webkit (Chrome 11+) */

    /* W3C Markup */
    background-image: -webkit-gradient(linear,left bottom, left top,from(#efefef), color-stop(30%, #efefef), color-stop(30%, #959595), color-stop(70%, #EFEFEF), to(#EFEFEF));
    background-image: linear-gradient(to top,#efefef, #efefef 30%, #959595 30%, #EFEFEF 70%, #EFEFEF 100%);
    }
.mobile_box img{
   /* margin-left: 15px; */
    /* margin-top: 30px; */
    margin: 20px 0 20px 15px;
    float: left;
    display: block;
    padding: 0 10px 0 0;
}
.img_telefon{
    height: 130px;
}
.img_telefon_width{
    width: 130px;
}
.mobile_box .horizontal_img {
    margin: 60px 0 20px 15px;
    float: left;
    display: block;
    padding: 0 10px 0 0;
}
.mobile_box span {
    display: block;
    font-size: 110%;
    margin-left: 10px;
    position: relative;
    top: 70px;
    color: #000;
}
.mobile_box:hover{
    color: #40a6a1;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #000;
    /* IE10+ */

    /* Mozilla Firefox */

    /* Opera */

    /* Webkit (Safari/Chrome 10) */

    /* Webkit (Chrome 11+) */

    /* W3C Markup */
    background-image: -webkit-gradient(linear,left bottom, left top,from(#efefef), color-stop(30%, #efefef), color-stop(30%, #afe2df), color-stop(70%, #EFEFEF), to(#EFEFEF));
    background-image: linear-gradient(to top,#efefef, #efefef 30%, #afe2df 30%, #EFEFEF 70%, #EFEFEF 100%);
    }
/*------------------------------------------------------------
                         model remont
-------------------------------------------------------------*/
.green_link{
	color: #30706f;
}

.green_link:hover{
	text-decoration: underline;
}

.device_and_text{
    overflow: hidden;
    padding-bottom: 20px;
}
.device_and_text span a{
    color: #000;
}
.number_phones a {
    color: #000;
}
.about_repair_device {
    overflow: hidden;
}
.about_repair_device .number_phones {
    display: block;
    margin-top: 10px;
}
.about_repair_device .call_button {
    height: 40px;
    width: 170px;
    display: none;
    margin-top: 10px;
    text-align: center;
    background-color: #c0dcd9;
    border-radius: 5px;
}

.about_repair_device .call_button span{
    line-height: 40px;
    vertical-align: middle;
}
.about_repair_device p{
    padding-left: 0;
}
.mobile_image{
    display: block;
    float: left;
    margin-right: 50px;
}
.device_and_text figure{
    height: 100%;
    padding: 6px 0;
}
table {
    width: 100%;
}
tr, td{
    border: 1px solid #7bccc9;
}
.zui-table {
/* border: solid 1px #DDEEEE; */
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    border: 1px solid #7bccc9;
    background-color: #c6e4e1;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody tr:nth-child(odd) {
    background-color: #eff9f8;
}
.zui-table tbody tr:nth-child(even) {
    background-color: #e0f3f3;
}
/*-------------------------
.zui-table tbody td {
    border-left: none;
    border-right: none;
}
-------------------------*/
.zui-table tbody tr:hover {
    background-color: #CCE7E7;
}
left-column, seo-brend{
	display: block;
}
.article_remont_telephone{
	float: none;
	width: 100%;
    margin: 0;
    padding-top: 20px;
}
.map_yandex{
	display:block;
	clear:both;
	overflow:hidden;
	padding: 2% 2% 0 2%;
}
.seo-brend{
	width: 100%;
	display: block;
	clear:both;
	overflow: hidden;
}
.seo-model-title{
	text-align: center;
}
.mobile_box .seo_mobile_box{
	width: 15%;
	padding-bottom: 2.5rem;
}
.video{
	display:block;
	text-align: center;
}
/*------------------------------------------------------------
                            kontakty
-------------------------------------------------------------*/
.block_kontakty{
   /* border: 1px solid green; */
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}
.vremya_raboty_kontakty{
  /* border: 1px solid red; */
   float: left;
   flex: 1 1 auto;
}
.div_adress_kontakty{
    position: relative;
    /* border: 1px solid orange; */
}
.div_adress_kontakty span{
    font-size: 24px;
 /*    margin-left: 50px; */
}
.new-line{
    display: block;
}
.div_adress_kontakty p{
    padding-left: 50px;
    width: 100%;
}
.div_adress_kontakty img{
    position: absolute;
    top: 15px;
}
.div_vremya_raboti_kontakty{
    margin-top: 17px;
    position: relative;
    /* border: 1px solid orange; */
}
.div_vremya_raboti_kontakty span{
    font-size: 24px;
    margin-left: 50px;
}
.div_vremya_raboti_kontakty img{
    position: absolute;
    top: 15px;
}
.div_number_telephone_kontakty{
    margin-top: 17px;
    position: relative;
    /* border: 1px solid orange; */
}
.div_number_telephone_kontakty span{
    font-size: 24px;
    margin-left: 50px;
}
.div_number_telephone_kontakty span a{
    color: #000;
}
.div_number_telephone_kontakty img{
    position: absolute;
    top: 15px;
}
.kartinka_vhoda{
   /* border: 1px solid red; */
   float: right;
   flex: 0 0 300px;
}
/* .vremya_raboty_kontakty .kartinka_vhoda{
    display: inline-block;
} */
.map{
    width: 100%;
    margin-top: 30px;
   /* border: 1px solid green;  */
}
.map img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.soc_seti_kontakty{
   /* border: 1px solid green; */
    margin-top: 25px;
}
 .soc_seti_kontakty .soc_seti_kontakty_link{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color:  #368b84;
    border-radius: 2px;
    font-size: 25px;
    color: #000000;
    text-align: center;
    line-height: 40px;
     margin-top: 10px;
}
.soc_seti_kontakty span{
    margin-left: 15px;
}
.soc_seti_kontakty .text_socseti{
    font-size: 15px;
}

.sposob_oplaty_kontakty{
	padding-top: 20px;
	padding-bottom: 24px;
}
.sposob_oplaty_kontakty span{
	font-size: 24px;
}
.sposob_oplaty_kontakty ul,.sposob_oplaty_kontakty li{
	font-size: 22px;
	margin-left: 0;
	padding-left: 0;
	text-indent: 0;
}
/************************************************************************************
404 erro
*************************************************************************************/
.error404{
    padding: 60px 0 80px 0;
    width: 60%;
    margin: 0 auto;
}
.error404 .statya_title {
    text-align: center;
    padding-bottom: 35px;
}
.accordion_404{
    margin: 0 auto;
}
/************************************************************************************
novosti
*************************************************************************************/
.cd-main-content-nov{
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.left-column-nov{
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
margin: 0 15px 60px 30px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
                     align-content: flex-start;
}
.right-column-nov{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
            min-width: 300px;
    margin: 59px 30px 0 15px;
}
.left-column-nov .block_news{
    width: 250px;
    max-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
}
.right-column-nov .status_zakaza{
    margin-top: 240px;
    display: block;
}
.nov{
    float: none;
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
}
@media screen and (max-width: 505px) {
.left-column-nov{
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
}
/************************************************************************************
smaller than 1920
*************************************************************************************/
@media screen and (max-width: 1920px) {
    body{
        margin-right: 0%;
        margin-left: 0%;
    }
	.right-column{
        width: 29%;
	}
	.left-column{
        width: 65%;
    }
}

/************************************************************************************
more than 1700
*************************************************************************************/
@media only screen and (min-width: 1700px) {
 .template_main {
  background-size:1000px 500px, auto 340px;
 }
}

/************************************************************************************
smaller than 1600
*************************************************************************************/
@media screen and (max-width: 1600px) {
    body{
        margin-right: 5%;
        margin-left: 5%;
    }
    .left-column{
        width: 65%;
    }
    .block_news{
        width: 31%;
    }
    .right-column{
        width: 29%;
    }
    aside{
        width: 29%;
    }
    .mobile_box{
        width: 31%;
    }
	.seo_mobile_box{
		width: 23%;
	}
}

/************************************************************************************
smaller than 1440
*************************************************************************************/
@media screen and (max-width: 1440px) {
    body{
        margin-right: 0%;
        margin-left: 0%;
    }
}
/************************************************************************************
smaller than 1320
*************************************************************************************/
@media screen and (max-width: 1320px) {
    .status_zakaza_remonti{
        display: none;
    }
    .status_zakaza{
        display: none;
    }
	aside {
      display: none;
    }
     .aside_index{
        display: block;
        margin: 2% 2.9% 1% 1%;
    }
   .article_index{
        width: 63%;
       display: ;
    }
    .right-column{
        display: none;
    }
    .left-column{
        width: 92%;
        margin: 0 4% 4% 4%;
    }
    .mobile_firms_main_block{
        min-height: 0;
    }
    article{
        width: 96%;
    }

/*
    .text_after_model_firms{
        width: 100%;
    }
*/
}

/************************************************************************************
smaller than 1280
*************************************************************************************/
@media screen and (max-width: 1280px) {

	.figure_index{
    text-align: center;
	margin: 20px 3%;
}
}


/************************************************************************************
smaller than 1249
*************************************************************************************/
@media screen and (max-width: 1249px) {
    .block1{
        width: 31%;
        display: block;
    }
	.image_repair_auto {
		width: 450px;
	}
	.button_repair_auto {
		left: 40%;
	}
}
/************************************************************************************
smaller than 959
*************************************************************************************/
@media only screen and (max-width: 959px) {
    .div_rem_mob_teh,.div_vremya_raboti,
    .div_number_telephone,.div_telephone,#under-head{display: none;}
    #header{
        height: 66px;
    }
    .name_company_high{
		position: absolute;
		top: 10px;
		left: 65px;
		z-index: 3;
    }
    .name_company_high .slogan {
		color: #a1fafa;
		font-size: 17px;
		line-height: 17px;
    }
    .name_company_high .company_text {
		font-size: 24px;
		line-height: 24px;
		color: #a1fafa;
    }
    .template_main {
		background-image:url("../img/fon.jpg");
		background-position: center center;
        background-size: cover;
		height: 115px;
    }
    .logo{
		display: none;
    }
    .logo2{
		position: absolute;
		padding-top: 0px;
		top: 0px;
		display: block;
		z-index: 3;
    }
    .heit_img_logo{
		height: 66px;
    }
	.text_repair_auto {
		top: 0px;
		line-height: 4;
	}
	.image_repair_auto {
		width: 45%;	
	}
	.banner_repair_auto {
		background: radial-gradient(#1B8684, #032527);
	}
	.background_image_repair_auto {
		display: none;
	}
	.button_repair_auto {
		font-size: 17px;
		left: 35%;
	}
    .accordion {
		margin: 85px 2% 0 2%;
		z-index: 2;
    }
	div.tab {
		margin-top: -70px;
	}
    .template{
		background-color: #013f3e;
		background-image:url("../img/fon.jpg");
		background-position: center top;
		background-size: auto 340px;
		background-repeat: no-repeat;
		height: 120px;
   /* border: 1px solid red;   */
}
.block_menu{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.block1{
    width: 350px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
    .aside_index{
        display: inline-block;
        margin: 2% 2.9% 4% 1%;
        width: 45%;
    }
    .article_index{
        width: 100%;
        margin: 2% 0 4% 0;
        padding: 0 3% 0 1%;
    }
}
/************************************************************************************
smaller than 880
*************************************************************************************/
@media screen and (max-width: 880px) {
    .mobile_box span {
    font-size: 95%;
    }
    .cd-main-content-nov{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
	-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
	}
	.image_repair_auto {
	width: 48%;	
	}
}
/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
    .banner_repair_auto {
		height: 180px;
	}
	.text_repair_auto {
		top: -10px;
	}
	.button_repair_auto {
		font-size: 16px;
		top: 90px;
		left: 30%;
	}
	.status_zakaza_remonti{
		display: none;
    }
    .status_zakaza{
		display: none;
    }
    .right-column{
		display: none;
    }

    aside {
		display: none;
    }
    .left-column{
		width: 96%;
		margin: 0 1% 4% 1%;
    }
    .mobile_brend{
		width: 100%
    }
    .mobile_box{
		width: 48%;
    }
	.block1{
		width: 48%;
		display: block;
	}
    .mobile_box img{
        display: block;
        margin: 0 auto;
        float: none;
    }
    .mobile_box span {
        width: 100%;
        font-size: 100%;
        float: left;
        position: static;
        text-align: center;
        margin-left: 0;
    }
    .mobile_box span:first-of-type{
        margin-top: 8px;
    }
    .block_news{
        width: 48%;
    }

	.block_kontakty{
    flex-wrap: wrap;
	}
	.kartinka_vhoda {
    flex: 1 1 auto;
    width: 100%;
	}
	.article_remonti p,.article_remonti h2{
    padding-left: 20px;
	}
	.article_remonti ol,.article_remonti ul{
    padding-left: 20px;
	}
	}
/************************************************************************************
smaller than 700
*************************************************************************************/
@media screen and (max-width: 700px) {
    .banner_repair_auto {
		height: 160px;
	}
	.button_repair_auto {
		top: 80px;
		font-size: 14px;
	}
	.text_repair_auto {
		line-height: 3.5;
	}
}
/************************************************************************************
smaller than 640
*************************************************************************************/
@media screen and (max-width: 640px) {
    .mobile_box span{
        font-size: 110%;
    }
	.text_repair_auto {
		line-height: 4.2;
		top: -15px;
	}	
	.h2_repair_auto {
		font-size: 22px;
	}
	.p_repair_auto {
		font-size: 22px;
	}
}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	#header{
		position: fixed;
		top:0;
	}
	.text_repair_auto {
		line-height: 5;
		top: -5px;
		left: 15px;
	}
	.h2_repair_auto {
		font-size: 17px;
	}
	.p_repair_auto {
		font-size: 17px;
	}
	.button_repair_auto {
		left: 25%;
	}
	.logo2{
		position: fixed;
	}
	.name_company_high{
		position: fixed;
	}
    .mobile_box span {
        width: 100%;
        font-size: 100%;
        float: left;
        position: static;
        text-align: center;
        margin-left: 0;
    }
    .mobile_box span:first-of-type{
        margin-top: 8px;
    }
	.block1{
		width: 100%;
		display: block;
	}
	article{
		width: 96%;
		}
    .aside_index{
        display: block;
        margin: 2% 2.9% 4% 1%;
        width: 95%;
    }
    .mobile_image{
        float: none;
        margin: 0 auto;
    }
    .about_repair_device .call_button{
        display: block;
        margin: 0 auto;
    }
    .about_repair_device .call_button a{
        color: #000;
    }
    .about_repair_device .number_phones{
        text-align: center;
    }
    .about_repair_device{
        margin-left: 4%;
    }
    .left-column h1{
        font-size: 16pt;
    }
    .zui-table{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .chast-remonti{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
	.chast-remonti .block_news{
		width: 100%;
	}
    .second_line{
        display: block;
        width: 100%;
        text-align: center;
    }
}
/************************************************************************************
smaller than 350
*************************************************************************************/
@media screen and (max-width: 350px) {
    .text_repair_auto {
		line-height: 7;
		top: -18px;
	}
	.h2_repair_auto {
		font-size: 14px;
	}
	.p_repair_auto {
		font-size: 14px;
	}
}
/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
    .block_news{
        width: 100%;
        font-size: 100%;
    }

}
/************************************************************************************
smaller than 290
*************************************************************************************/
@media screen and (max-width: 290px) {
    .mobile_box{
        width: 100%;
    }
    .mobile_box span{
        display: initial;
    }

}
